/* Web-Fonts */
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: "Noto Sans KR";
  background: linear-gradient(to top, #1E5D71, #539953);
  min-height: 100vh;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
}
html > body .scrollbar-thumb {
  background-color: rgba(150,150,150,0.5);
}

/* Custom Lib */
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  --y-gap: 0px;
  --x-gap: 0px;
  --cc: 2;
  gap: var(--y-gap) var(--x-gap);
}
.flex-grid > * {
  width: calc(100% / var(--cc) - (var(--x-gap) * (var(--cc) - 1)) / var(--cc));
}

/* Lib */
.con {
  position: relative;
  width: var(--site-width);
  margin: 0 auto;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

/* Custom */
:root {
  --site-width: 1920px;
  --wrap-width: 1470px;
}
.wrap {
  width: var(--wrap-width);
  margin: 0 auto;
}

/* 로딩 */
#loading {
  position:relative;
  top: 0;
  left: 0;
  width:100%;
  height:100vh;
  background-color:white;
  z-index:1000;
}
#loading .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: loading-move 3s infinite;
}
@keyframes loading-move {
  0% {top: 48%;}
  50% {top: 52%;}
  100% {top: 48%;}
}
#loading .box p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00d344;
}

/* 메인 페이지 */
#main-page {
  width: var(--site-width);
}

/* left-menu */
#left-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 3rem;
  width: 250px;
  height: 100vh;
  border-right: 1px solid rgba(209, 209, 209, 0.1);
  flex-shrink: 0;
}
#left-menu .menu {
  margin-top: 3rem;
}
#left-menu .menu li {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  color: #E1E1E1;
  cursor: pointer;
  transition: color 0.3s;
}
#left-menu .menu li:hover {
  color: #00d344;
}
#left-menu .menu li > span:nth-child(1) {
  display: inline-block;
  margin-right: 0.7rem;
  width: 23px;
}
#left-menu .my-playlist {
  margin-top: 8rem;
}
#left-menu .my-playlist li:not(:nth-child(1)) {
  cursor: pointer;
  color: #E1E1E1;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}
#left-menu .my-playlist li:not(:nth-child(1)):hover {
  color: #00d344;
}
#left-menu .my-playlist li:nth-child(1) {
  color: #00d344;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* top-menu */
#top-menu {
  position: fixed;
  top: 0;
  left: 250px;
  width: 1670px;
  z-index: 100;
}
#top-menu .bd-filter {
  backdrop-filter: blur(10px);
}
#top-menu .wrap {
  width: var(--wrap-width);
  margin: 0 auto;
  padding: 1rem 0;
}
#top-menu input.search-box {
  background-color: transparent;
  border: 3px solid #00d344;
  border-radius: 30px;
  padding: 0.7rem 1.4rem;
  color: #00d344;
}
#top-menu input.search-box::placeholder {
  color: #00d344;
}
#top-menu input.search-box:focus {
  outline: 1px solid #00d344;
  color: #00d344;
}
#top-menu .search-ranking > span:nth-child(1) {
  display: inline-block;
  background-color: #00d344;
  padding: 0.4rem 1rem;
  border-radius: 30px;
  color: #fff;
}
#top-menu .search-ranking .swiper {
  width: 180px;
  height: 50px;
  margin-left: 1rem !important;
}
#top-menu .search-ranking .swiper-slide {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
  padding-left: 1rem;
  cursor: pointer;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#top-menu .search-ranking .swiper-slide > p:nth-child(1) {
  color: #fff;
  margin-right: 1rem;
}
#top-menu .search-ranking .swiper-slide span:nth-child(1) {
  width: 30px;
}
#top-menu .right-icons > span {
  color: #cccccc;
  font-size: 1.8rem;
  margin-left: 2rem;
  cursor: pointer;
  transition: color 0.2s;
}
#top-menu .right-icons > span:hover {
  color: #00d344;
}
#top-menu .right-icons .profile {
  margin-left: 4rem;
}
#top-menu .right-icons .profile > img {
  width: 60px;
  margin-right: 1rem;
  cursor: pointer;
}

/* main-contents */
#main-contents {
  position: fixed;
  top: 0;
  left: 250px;
  width: 1670px;
  height: 100vh;
  overflow: scroll;
}
#main-contents::-webkit-scrollbar {
  display: none;
}
/* hot-new-album */
#hot-new-album {
  height: 100vh;
}
#hot-new-album .list {
  width: 100%;
  height: 100vh;
}
#hot-new-album .list .wrap {
  width: var(--wrap-width);
  margin: 0 auto;
  padding: 1rem 0;
}
#hot-new-album .list .left-text {
  width: 60%;
  margin-top: 8rem;
}
#hot-new-album .list .left-text p.title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
#hot-new-album .list .left-text .album-title {
  margin-top: 7rem;
}
#hot-new-album .list .left-text .album-title > p {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}
#hot-new-album .list .left-text .album-title > button {
  color: #00d344;
  border: 4px solid #00d344;
  padding: 1rem 2rem;
  border-radius: 30px;
  float: right;
  margin-top: 2rem;
  transition: color 0.3s, background-color 0.3s;
}
#hot-new-album .list .left-text .album-title > button:hover {
  color: #fff;
  background-color: #00d344;
}
#hot-new-album .list .left-text .info p.artist {
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 7rem;
}
#hot-new-album .list .left-text .info p.artist-name {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
#hot-new-album .list .left-text .info p.explain {
  color: #ccc;
  font-size: 1.3rem;
  margin-top: 4rem;
  width: 1200px;
}
#hot-new-album .swiper-slide.taeyeon > .list {
  background: linear-gradient(to top, #000, #ffffff20),
    url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/hot-new-album/hot-new-album_taeyeon03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#hot-new-album .swiper-slide.b-to-b > .list {
  background: linear-gradient(to top, #000, #ffffff20),
    url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/hot-new-album/hot-new-album_b-to-b02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#hot-new-album .swiper-slide.bts > .list {
  background: linear-gradient(to top, #000, #ffffff20),
    url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/hot-new-album/hot-new-album_bts03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#hot-new-album .swiper-slide.twice > .list {
  background: linear-gradient(to top, #000, #ffffff20),
    url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/hot-new-album/hot-new-album_twice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#hot-new-album :is(.swiper-button-next, .swiper-button-prev) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  --swiper-navigation-color: #00d344;
  background-color: #232323;
}

#hot-new-album .swiper-button-next::after,
#hot-new-album .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

/* recent-album */
#recent-album .top .genre > button {
  color: #ccc;
}
#recent-album .top .genre > button.pressed {
  color: #00d344;
}
#recent-album .swiper {
  width: 100%;
  height: 100%;
}
#recent-album .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  /*   -webkit-box-pack: center; */
  /*   -ms-flex-pack: center; */
  /*   -webkit-justify-content: center;
  justify-content: center; */
  /*   -webkit-box-align: center; */
  /*   -ms-flex-align: center; */
  /*   -webkit-align-items: center; */
  align-items: center;
}
#recent-album .swiper-slide .title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: start;
  margin-top: 1rem;
}
#recent-album .swiper-slide .artist {
  color: #ccc;
  font-size: 1.1rem;
  margin-top: 0.2rem;
}
#recent-album .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  cursor: pointer;
}

/* melon-chart-and-melon-tv */
#melon-chart-and-melon-tv {
  display: flex;
  width: 100%;
}
/* melon-chart */
#melon-chart {
  width: calc(100% * 3/5);
}
#melon-chart .top .genre > button {
  color: #ccc;
}
#melon-chart .top .genre > button.pressed {
  color: #00d344;
}
#melon-chart .swiper {
  
  height: 100%;
  justify-content: start;
  margin-left: 0 !important;
}
#melon-chart .swiper-slide {
  background-position: center;
  background-size: cover;
  color: #fff;
  cursor: pointer;
}
#melon-chart .swiper-slide > .list {
  display: flex;
  align-items: center;
  border: 1px solid #cccccc50;
  border-radius: 30px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
#melon-chart .swiper-slide .number {
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 2rem;
}
#melon-chart .swiper-slide .list:hover .number {
  color: #00d344;
}
#melon-chart .swiper-slide img {
  width: 70px;
  border-radius: 10px;
}
#melon-chart .swiper-slide .contents {
  display: flex;
  flex-direction: column !important;
  margin-left: 2rem;
  flex-grow: 1;
}
#melon-chart .swiper-slide .contents .rank {
  font-weight: bold;
}
#melon-chart .swiper-slide .contents .music-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  transition: color 0.3s;
}
#melon-chart .swiper-slide .list:hover .contents .music-name {
  color: #00d344;
}
#melon-chart .swiper-slide .contents .artist {
  color: #ccc;
  font-size: 0.8rem;
}
#melon-chart .swiper-slide .running-time {
  color: #ccc;
  font-size: 1.2rem;
  margin-left: 2rem;
}
#melon-chart .swiper-slide .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-left: 2rem;
}
#melon-chart .swiper-slide .play:hover {
  border-color: #00d344;
}
#melon-chart .swiper-slide .play:hover > i {
  color: #00d344;
}
#melon-chart .swiper-slide .like {
  font-size: 1.2rem;
  margin-left: 2rem;
}
#melon-chart .swiper-slide .like:hover {
  color: red; 
}
/* melon-tv */
#melon-tv .contents .list {
  position: relative;
  height: 285px;
  overflow: hidden;
  border-radius: 20px;
}
#melon-tv .contents .list img {
  height: 100%;
  border-radius: 20px;
  z-index: -5;
}
#melon-tv .contents .list .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
#melon-tv .contents .list .info > p {
  color: #fff;
  cursor: pointer;
}
#melon-tv .contents .list .info .music-name {
  font-size: 1.5rem;
  font-weight: bold;
}
#melon-tv .contents .list .info p:nth-child(2) {
  color: #ccc;
}
#melon-tv .contents .list .play {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  font-size: 1.3rem;
}
#melon-tv .contents .list .play:hover {
  color: #00d344;
  border-color: #00d344;
}

/* artist-recommend */
#artist-recommend .swiper {
  width: 1100px;
  height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#artist-recommend .swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  cursor: pointer;
}
#artist-recommend .swiper-slide .album-info {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 2rem;
  transition: visibility 0.5s, opacity 0.5s;
}
#artist-recommend .swiper-slide.swiper-slide-active:hover .album-info {
  visibility: visible;
  opacity: 1;
}
#artist-recommend .swiper-slide .album-info .inner {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#artist-recommend .swiper-slide .album-info .play {
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
  border: 3px solid #fff;
  border-radius: 50%;
}
#artist-recommend .swiper-slide.swiper-slide-active .album-info .play:hover {
  border-color: #00d344;
  color: #00d344;
}
#artist-recommend .swiper-slide .album-info .more {
  font-size: 1.8rem;
  margin-left: 2rem;
}
#artist-recommend .swiper-slide.swiper-slide-active .album-info .more:hover {
  color: #00d344;
}
#artist-recommend .swiper-slide .info {
  display: none;
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 350px;
}
#artist-recommend .swiper-slide.swiper-slide-active .info {
  display: block;
}
#artist-recommend .swiper-slide .info > p:nth-child(1) {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
#artist-recommend .swiper-slide .info > p:nth-child(2) {
  color: #ccc;
  font-size: 1.4rem;
}
#artist-recommend .swiper-slide .info > div {
  color: #ccc;
  margin-top: 0.3rem;
}
#artist-recommend .swiper-slide .info > div > span:nth-child(2) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#artist-recommend .swiper-slide img {
  display: block;
  width: 100%;
}
#artist-recommend .swiper-navigation {
  position: relative;
  top: -350px;
  left: 90px;
  display: flex;
  width: 1300px;
}
#artist-recommend :is(.swiper-button-next, .swiper-button-prev) {
  --swiper-navigation-color: #fff;
  position: absolute;
}
#artist-recommend :is(.swiper-button-next, .swiper-button-prev):hover {
  --swiper-navigation-color: #00d344;
}

/* trend-at-once */
#trend-at-once .content {
  --x-gap: 50px;
  --y-gap: 30px;
}
#trend-at-once .content .list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
}
#trend-at-once .content .list:nth-child(1) {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/trend-at-once/trend-at-once01.jpg);
}
#trend-at-once .content .list:nth-child(2) {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/trend-at-once/trend-at-once02.jpg);
}
#trend-at-once .content .list:nth-child(3) {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/trend-at-once/trend-at-once03.jpg);
}
#trend-at-once .content .list:nth-child(4) {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/trend-at-once/trend-at-once04.jpg);
}
#trend-at-once .content .list > span {
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
}
#trend-at-once .content .list {
  position: relative;
}
#trend-at-once .content .list > .info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}
#trend-at-once .content .list:hover > .info {
  visibility: visible;
  opacity: 1;
}
#trend-at-once .content .list:hover > span {
  visibility: hidden;
}
#trend-at-once .content .list > .info span {
  font-size: 1.5rem;
}

/* artist-playlist */
#artist-playlist .inner {
  width: 100%;
  height: 400px;
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/artist-playlist/artist-playlist_bg-img04.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#artist-playlist .swiper {
  width: 1470px;
}
#artist-playlist .swiper-wrapper {
  width: 1470px;
}
#artist-playlist .swiper-slide {
  width: 100%;
/*   background-color: black; */
}
#artist-playlist .swiper-slide img {
  display: block;
  width: 500px;
  cursor: pointer;
}
#artist-playlist .swiper-slide .text {
  width: 700px;
  color: #fff;
}
#artist-playlist .swiper-slide .text .title {
  font-size: 2.5rem;
  font-weight: bold;
}
#artist-playlist .swiper-slide .text .explain {
  font-size: 1.2rem;
}
#artist-playlist .swiper-navigation {
  position: relative;
  top: -290px;
  left: 1380px;
  display: flex;
  background-color: pink;
  width: 100px;
}
#artist-playlist :is(.swiper-button-next, .swiper-button-prev) {
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 30px;
}

/* theme-music */
#theme-music .content {
  --cc: 3;
/*   --x-gap: 20px; */
  --y-gap: 60px;
}
#theme-music .content .list {
  cursor: pointer;
}
#theme-music .content .list .title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 2rem;
}
#theme-music .content .list .user {
  color: #ccc;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  margin-left: 2rem;
}
#theme-music .content .list .bg-img {
  width: 450px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  
}
#theme-music .content .list01 .bg-img {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/theme-music/theme-music01.jpg);
}
#theme-music .content .list02 .bg-img {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/theme-music/theme-music02.jpg);
}
#theme-music .content .list03 .bg-img {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/theme-music/theme-music03.jpg);
}
#theme-music .content .list04 .bg-img {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/theme-music/theme-music04.jpg);
}
#theme-music .content .list05 .bg-img {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/theme-music/theme-music05.jpg);
}
#theme-music .content .list06 .bg-img {
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/theme-music/theme-music06.jpg);
}

/* footer */
#footer {
  color: #ccc;
  padding-bottom: 11rem;
}
#footer .top {
  display: flex;
  justify-content: end;
  padding-bottom: 3rem;
  border-bottom: 1px solid #cccccc50;
}
#footer .top li {
  cursor: pointer;
  margin-left: 2rem;
  font-size: 1.2rem;
}
#footer .top li:hover {
  color: #00d344;
}
#footer .middle {
  margin-top: 3rem;
}
#footer .middle li {
  margin-right: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
}
#footer .bottom {
  margin-top: 2rem;
}
#footer .bottom .bottom01 > span,
#footer .bottom .bottom02 > span {
  margin-right: 2rem;
  font-size: 0.9rem;
}

/* music-player */
.player-container {
  /*   display: flex; */
  /*   flex-direction: column; */
  position: fixed;
  height: 200px;
  width: 100%;
  bottom: -100px;
  background-color: #1E5D7190;
/*   background: linear-gradient(to top, #092018 0%, #123e2c 100%); */
}

/* #thumbnail {
  position: absolute;
  object-fit: fill;
  height: 100%;
  width: 100%;
  top: -10%;
  transition: 1s;
  z-index: 3;
} */

.box {
  /*   position: absolute; */
  display: flex;
  /*   justify-content: space-between; */
  align-items: center;
  height: 100px;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 4;
  /*   bottom: -10%; */
  /*   display: grid;
  grid-template-colums: 35px 255px 35px;
  grid-template-rows: 85px 25px 25px;
  grid-template-areas:
    "one two two three"
    "four four four four"
    "five five five five"; */
  /*   column-gap: 10px; */
}

.bg-img {
  width: 70px;
  height: 70px;
  background-image: url(https://cdn.jsdelivr.net/gh/sungwonje/website-renewal-project_melon_img/docs/main-page/music-player/music-player_watermelon-sugar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 100;
  margin-left: 2rem;
}
.play-pause {
  /*   grid-area: one; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-pause-circle {
  filter: invert(1);
  cursor: pointer;
  display: none;
}

#play,
#prev-track,
#next-track {
  /*   filter: invert(1); */
  cursor: pointer;
  color: #fff;
}
:is(#play, #pause, #prev-track, #next-track):hover {
  color: #00d344;
}

#play-random,
#play-repeat {
  color: #ccc;
  cursor: pointer;
}

.track-info {
  /*   grid-area: two; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2rem;

  /* border: 1px solid red; */
}

#track-artist {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  width: 200px;
}

#track-title {
  color: #ccc;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.next-prev {
  /*   grid-area: three; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  /* border: 1px solid red; */
}

.progress-bar {
  position: absolute;
  top: -3px;
  width: 100%;
  /*   grid-area: four; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#progressBar {
  appearance: none;
  height: 5px;
  background: rgba(0, 255, 0, 0.1);
  width: 100%;
  outline: none;
  border-radius: 30px;
}

#progressBar::-webkit-slider-thumb {
  appearance: none;
  height: 11px;
  width: 11px;
  outline: none;
  background: #00d344;
  border-radius: 30px;
  cursor: pointer;
}

.track-time {
  /*   grid-area: five; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  /* border: 1px solid red; */
}

#currentTime {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  color: white;
}

#durationTime {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  color: #00d344;
  text-shadow: 0 0 15px white;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 110px;
}
.icons > i {
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}
.icons > i:nth-child(1):hover {
  color: red;
}
.icons > i:hover {
  color: #00d344;
}

/* 스크롤 */
#music-player .scroll-icon {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
}